.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  padding: 0 24px;
}

.navbarLogo {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navItem {
  height: 80px;
}

.navLinks {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.navLinks sup {
  font-size: 1rem;
  position: relative;
  top: -0.5rem;
  right: -0.1rem;
  /* background: red; */
  color: white;
  /* border-radius: 50%; */
  padding: 0.2rem;
}

.navLinks:hover {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 24px;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: black;
  }

  .navMenu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navItem {
    width: 100%;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navLinks sup {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .navLinks:hover {
    border: none;
  }
}
