body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .movieContainer {
    flex-direction: column;
    align-items: center;
  }
}
